affine==2.4.0
aiocache==0.12.2
aiohttp==3.9.4
aioquic==0.9.25
aiosignal==1.3.1
aiosqlite==0.20.0
altair==5.5.0
aniso8601==10.0.0
annotated-types==0.7.0
anyio==4.6.2.post1
anywidget==0.9.15
arsenic==21.8
asgiref==3.7.2
asttokens==3.0.0
async-generator==1.10
async-timeout==4.0.3
attrs==25.1.0
Authlib==1.5.1
Automat==20.2.0
autopep8==2.0.1
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bqplot==0.12.44
branca==0.8.1
Brotli==1.1.0
browser-cookie3==0.19.1
cachelib==0.13.0
cachetools==5.5.2
certifi==2022.12.7
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.0.1
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloud-init==24.4.1
color-operations==0.1.6
colorama==0.4.6
colour==0.1.5
comm==0.2.2
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.1
cryptography==42.0.8
cycler==0.12.1
dbus-python==1.2.18
decorator==5.2.1
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
duckdb==1.2.0
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==2.2.0
filelock==3.17.0
Flask==3.0.3
Flask-Caching==2.3.1
flask-cors==5.0.1
flask-restx==1.3.0
folium==0.19.5
fonttools==4.56.0
frozenlist==1.4.1
gdown==5.2.0
geojson==3.2.0
gitdb==4.0.11
GitPython==3.1.41
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.4
httplib2==0.20.2
httpx==0.27.0
httpx-ntlm==1.4.0
humanize==4.9.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==4.6.4
importlib_resources==6.5.2
incremental==21.3.0
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.33.0
ipytree==0.2.2
ipyvue==1.11.2
ipyvuetify==1.11.1
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.4
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.23.0
jsonschema-spec==0.1.6
jsonschema-specifications==2024.10.1
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
kaitaistruct==0.10
keyring==23.5.0
kiwisolver==1.4.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.10.0
ldap3==2.9.1
leafmap==0.42.12
localtileserver==0.10.6
loguru==0.7.2
lz4==4.3.3
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mitmproxy==10.2.3
mitmproxy_rs==0.5.2
more-itertools==8.10.0
morecantile==6.2.0
msgpack==1.0.8
multidict==6.1.0
narwhals==1.28.0
netifaces==0.11.0
numexpr==2.10.2
numpy==1.24.2
oauthlib==3.2.0
openapi-schema-validator==0.4.4
openapi-spec-validator==0.5.7
openpyxl==3.0.10
outcome==1.2.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pathable==0.4.3
pexpect==4.9.0
pillow==11.1.0
pipenv==11.9.0
platformdirs==2.5.1
plotly==6.0.0
prance==23.6.21.0
prompt_toolkit==3.0.50
propcache==0.2.0
protobuf==4.25.5
psutil==7.0.0
psycopg2-binary==2.9.10
psygnal==0.12.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.5.1
pyasn1-modules==0.2.1
pycodestyle==2.10.0
pycparser==2.22
pycryptodomex==3.21.0
pycurl==7.44.1
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pylsqpack==0.3.18
pyOpenSSL==24.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pyproj==3.7.1
pyrsistent==0.18.1
pyserial==3.5
pyshp==2.3.1
PySocks==1.7.1
pyspnego==0.11.1
pystac==1.12.2
pystac-client==0.8.6
python-apt==2.4.0+ubuntu4
python-box==7.3.2
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0.1
rasterio==1.4.3
referencing==0.36.2
requests==2.32.3
requests-futures==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rio-cogeo==5.4.1
rio-tiler==7.5.0
rpds-py==0.23.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scooby==0.10.0
SecretStorage==3.3.1
selenium==4.8.2
server-thread==0.3.0
service-identity==24.1.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.28
st-cookies-manager==0.2.2
stack-data==0.6.3
stem==1.8.1
streamlit==1.45.1
streamlit-javascript==0.1.5
streamlit-js-eval==0.1.7
streamlit_folium==0.24.0
structlog==20.2.0
systemd-python==234
tenacity==9.0.0
tld==0.13
toml==0.10.2
tomli==2.0.1
tornado==6.4.1
torrequest==0.1.0
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
trio==0.22.0
trio-websocket==0.9.2
trufflehog3==3.0.10
Twisted==22.1.0
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.14
urwid-mitmproxy==2.1.2.1
uvicorn==0.34.0
virtualenv==20.13.0+ds
virtualenv-clone==0.3.0
wadllib==1.3.6
wapiti3==3.2.0
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.0.4
whitebox==2.3.6
whiteboxgui==2.3.0
widgetsnbextension==4.0.13
wsproto==1.2.0
xarray==2025.1.2
xyzservices==2025.1.0
yarl==1.15.5
yaswfp==0.9.3
zipp==1.0.0
zope.interface==5.4.0
zstandard==0.22.0
